.container {
  max-width: 80vw;
  margin: auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.content img {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
  object-fit: cover;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--accent);
}

.text {
  color: var(--text-secondary);
  line-height: 1.6;
  font-size: 1.1rem;
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  line-height: 1.6;
}

.skillsTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--highlight);
}

.skillsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  background-color: var(--skill-bg);
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 20px;
  font-size: 0.9rem;
}