* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --bg:#000;
  --text:#e2e8f0;
  --accent: #6F43C3;
  --highlight: #FF76F7;
  --skill-bg: #1e293b;
  --text-secondary: #94a3b8;
  --text-highlight: #fff;
  --border:#1e0f4b;
  --box-shadow: rgba(165, 126, 255, 0.5);
  --icon: #57177f;
}

.light{
  --bg:#fdf9fd;
  --text:#0d040d;
  --accent:  #c23ebe;
  --highlight: #233969;
  --skill-bg: #eaf2fe;
  --text-secondary: #3e4959;
  --text-highlight: #fff;
  --border:#1e0f4b;
  --box-shadow: rgba(165, 126, 255, 0.5);
  --icon:  #6c87ff;
}


body{
  background-color: var(--bg);
  color: var(--text);
}

section {
  padding: 80px 0;
}

html {
  scroll-behavior: smooth;
}