@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --bg:#000;
  --text:#e2e8f0;
  --accent: #6F43C3;
  --highlight: #FF76F7;
  --skill-bg: #1e293b;
  --text-secondary: #94a3b8;
  --icon: #57177f;
}

.light{
  --bg:#fdf9fd;
  --text:#0d040d;
  --accent:  #c23ebe;
  --highlight: #233969;
  --skill-bg: #eaf2fe;
  --text-secondary: #3e4959;
  --icon:  #6c87ff;
}

@keyframes gradientRotate {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@theme{
  --animate-gradientRotate: gradientRotate 6s ease infinite;
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-accent: var(--accent);
  --color-highlight: var(--highlight);
  --color-skill-bg: var(--skill-bg);
  --color-text-secondary: var(--text-secondary);
  --color-border: #1e0f4b;
  --color-icon: var(--icon);
}

body{
  margin:0;
  padding:0;
  background-color: var(--bg);
  color: var(--text);
}

section {
  padding: 70px 0;
}

html {
  scroll-behavior: smooth;
}