@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --bg: #fdf9fd;
  --text: #0d040d;
  --accent: #c23ebe;
  --highlight: #233969;
  --skill-bg: #eaf2fe;
  --text-secondary: #3e4959;
  --icon: #6c87ff;
}

.dark {
  --bg: #0d040d;
  --text: #e2e8f0;
  --accent: #6f43c3;
  --highlight: #ff76f7;
  --skill-bg: #1e293b;
  --text-secondary: #94a3b8;
  --icon: #57177f;
}

@keyframes gradientRotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes marquee{
  0%{
    transform:translateX(0%);
  }
  100%{
    transform:translateX(-50%);
  }
}

@theme {
  --animate-gradientRotate: gradientRotate 6s ease infinite;
  --animate-marquee: marquee 20s linear infinite;
  --color-bg:  var(--bg);
  --color-text: var(--text);
  --color-accent: var(--accent);
  --color-highlight: var(--highlight);
  --color-skill-bg: var(--skill-bg);
  --color-text-secondary: var(--text-secondary);
  --color-icon: var(--icon);
}

@layer components {
  .navlink {
    @apply no-underline text-text text-[1.1rem] hover:text-highlight font-bold max-md:hidden;
  }
  .button {
    @apply py-3 px-6 text-xl ring ring-accent rounded-3xl cursor-pointer bg-bg text-text hover:bg-accent hover:text-white;
  }
  .link {
    @apply text-highlight text-sm hover:underline;
  }
  .input {
    @apply p-3 rounded-md ring ring-purple-950 bg-skill-bg focus:outline-2 focus:outline-highlight focus:outline-offset-1;
  }
  .icon {
    @apply transition transform opacity-100 duration-200 ease-in-out hover:scale-[1.2] hover:opacity-80;
  }
  .after{
    @apply after:ml-0.5 after:text-red-500 after:content-['*']
  }
  .color{
    @apply -bg-linear-150 from-blue-700/50 via-pink-700/50 to-fuchsia-700/50 font-medium
  }
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
  }

  section {
    padding: 70px 0;
  }

  html {
    scroll-behavior: smooth;
}
}